@import 'utilities.scss';
*,*::before,*::after{
    padding: 0;
    margin: 0;
}
html{
    font-size: 10px;
     scroll-behavior: smooth;
     @media only screen and (max-width:900px){
      font-size: 8px;
}
}

body{
    font-size: 1.6rem;
    font-weight: 300;
    color:#fff;
    box-sizing: border-box;
}
.hero{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding:0;
    height: 100vh;
    max-width: 100%;

    &__section{
        scroll-snap-align: start;
        height: 100vh;
        padding:2rem;
        position: relative;
        overflow: hidden;
    }
    &__section:nth-child(1){
      background-color: #7f53ac;
    color:#fff;
    }
    &__section:nth-child(2){
            background:#fff;
            color:#15005D;
    }
    &__section:nth-child(3) {
      background:#fff;
      color: #15005D;
      
      }
      &__section:nth-child(4) {
        background: azure;color: white;
      }

      &__link:link,&__link:visited{
          color:#fff;
          padding:1rem 2rem;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: 600;
          text-decoration: none;
          position: relative;
          z-index: 1;
          display: inline-flex;
          transition: all ease-in .3s;
       
          &::before{
            content: "";
            width: 0;
            height: 50%;
            background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);
            position: absolute;
            left: 0;
            bottom: 14px;
            z-index: -1;
            will-change: width;
            transform: rotate(-2deg);
          }
          &:hover::before{
            width: 100%;
        }
        &::before{
            transition: width .3s ease-in;
        }
       &:hover::before{
            transition-duration: .1.5s;
        }
      
      }
     &__container--1{
         height: calc(100vh - 90px);
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%,-50%);
     }
     &__container--2{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
  }
  &__container--3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
     &__aboutbox{
         p{
             font-size: 1.8rem;
             line-height: 38px;
         }
     }


}

.loader {
    min-width: 100%;
    width: 100%;
    height: 100%;
    stroke-linecap: round;
    position: relative; 
    padding-left: 10rem;
    padding-top:10rem;
    circle {
        position: absolute;
        top: 30%;
        // transform: translateY(40%);
        fill: none;
        stroke-width: 1.5;
        -webkit-animation-name: preloader;
                animation-name: preloader;
        -webkit-animation-duration: 3s;
                animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-transform-origin: 170px 170px;
                transform-origin: 170px 170px;
        will-change: transform;
        &:nth-of-type(1) {
            stroke-dasharray: 550px;
          }
          &:nth-of-type(2) {
            stroke-dasharray: 500px;
          }
          &:nth-of-type(3) {
            stroke-dasharray: 450px;
          }
       
          &:nth-of-type(1) {
            -webkit-animation-delay: -0.15s;
                    animation-delay: -0.15s;
          }
          &:nth-of-type(2) {
            -webkit-animation-delay: -0.3s;
                    animation-delay: -0.3s;
          }
          &:nth-of-type(3) {
            -webkit-animation-delay: -0.45s;
                    animation-delay: -0.45s;
          }
      
      }    
  }

  @-webkit-keyframes preloader {
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes preloader {
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  .mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
  }
  
  .scroll {
    -webkit-animation-name: scroll;
            animation-name: scroll;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
            animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 20.5px;
            transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
  }
  
  .scroll-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  @-webkit-keyframes scroll {
    0%, 20% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
    }
    100% {
      -webkit-transform: translateY(36px) scaleY(2);
              transform: translateY(36px) scaleY(2);
      opacity: 0;
    }
  }
  
  @keyframes scroll {
    0%, 20% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
    }
    100% {
      -webkit-transform: translateY(36px) scaleY(2);
              transform: translateY(36px) scaleY(2);
      opacity: 0;
    }
  }

  .image__bg{
      position: absolute;
      cursor: pointer;
      top:10rem;
        width: 640px;
        height: 600px;
        border-radius: 30% 70% 30% 100%;
        background-color: #ecf3ff;
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  }

  .inputName {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 270px;
  }
  .inputName .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 1.6rem;
    font-weight:100 lighter;
    color: #9098a9;
    font-weight: 300;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .inputName .border-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #15005D !important;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  .inputName input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
  }
 
  .inputName input:not(:placeholder-shown) + span {
    color: #15005D;
    transform: translateY(-26px) scale(0.75);
  }
  .inputName input:focus {
    background: none;
    outline: none;
  }
  .inputName input:focus + span {
    color: #15005D;
    transform: translateY(-26px) scale(0.75);
  }
  .inputName input:focus + span + .border-1 {
    transform: scaleX(1);
  }
  